@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");

@font-face {
    font-family: "KairosSans";
    src: url("/fonts/KairosSansW1G-ExtMedium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
