.text-title-xl {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 30%;
}

.text-title-l {
    font-size: 2rem;
    letter-spacing: 5%;
}

.text-title-m {
    font-size: 1.5rem;
    letter-spacing: 2.5%;
}

.text-paragraph-s {
    font-size: 0.9rem;
    letter-spacing: 1%;
}

.text-blockcaps-l {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 10%;
}

.text-blockcaps-m {
    text-transform: uppercase;
    letter-spacing: 15%;
}

.text-blockcaps-s {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 10%;
}

.text-blockcaps-xs {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 10%;
}

.text-blockcaps-xs-tight {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2.5%;
}
