.BracketFrame {
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1rem;
        border: 3px solid var(--color-skarsnikGreen);
    }

    &:before {
        top: 0;
        border-bottom: none;
    }

    &:after {
        bottom: 0;
        border-top: none;
    }
}

.FullScreenHeight {
    @apply h-[calc(100vh-108px)];
    overflow: auto;
}
